#header {
	background-color:#FFED74;
	text-align: left;
}
#nav {
	background-color:#E8C66A;
	text-align: center;
}
#footer {
	background-color:#FF957E
}
#div {
	background-color:#FFE2B8;
	text-align: center;
}